{% extends  "app/base.html" %}
{% load staticfiles %}

{% block before %}
<link rel="stylesheet" href="{% static 'css/kalendae.css' %}" type="text/css" charset="utf-8">
{% endblock %}

{% block content %}
    <div class="agendae-content mdl-layout__content">

        <div class="agendae-section-title"></div>

        <div id="resource-container" class="mdl-grid  mdl-cell--9-col">

            <div id="card-info" class="agendae-resource-container mdl-card mdl-shadow--8dp">
                <div id="title-resource" style="display:flex; flex-direction: row; align-items: center;padding: 2vh 0 2vh 0;">
                    <div style="margin-left: -2vh;"><a href="javascript:window.history.go(-1)"><img src="{% static 'images/ic_arrow_back_black_24dp_2x.png' %}"></img></a></div>
                    <h3 style="align-self: flex-start;" id="resourceName" class="mdl-cell mdl-cell--12-col mdl-typography--headline"></h3>


                    <button style="width: 30vh;" id="button-salvar"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        style="" onclick="updateResource()">Salvar alterações
                    </button>


                </div>

                <div id="card-info-center" class="mdl-grid">
                    <div id="text-container" style="width:auto;padding-right: 2vh;" class="mdl-cell--3-col">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input normal-text" type="text" id="text-resource-name" value="{{ res.nome }}">
                            <label class="mdl-textfield__label" for="text-resource-name">Nome do recurso</label>
                        </div>
                        <br>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input normal-text" type="text" id="text-resource-location" value="{{ res.endereco }}">
                            <label class="mdl-textfield__label" for="text-resource-location">Localização</label>
                        </div>
                        <br>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input normal-text" type="text" id="text-resource-id" value="{{ res.patrimonio }}">
                            <label class="mdl-textfield__label" for="text-resource-id">Código de patrimônio</label>
                        </div>
                        <br>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input normal-text" type="text" id="text-resource-cat" value="{{ res.categoria }}">
                            <label class="mdl-textfield__label" for="text-resource-cat">Categoria</label>
                        </div>
                        <br>


                        <div id="resource-desc" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input normal-text" type="text" rows="3"
                                      id="text-resource-desc">{{ res.descricao }}</textarea>
                            <label class="mdl-textfield__label" for="text-resource-desc">Descrição</label>
                        </div>
                        <br>

                    </div>
                    <div class="mdl-cell--3-col">
                    <b>Disponibilidade</b><br><br>
                    <div>

                        <div id="date-picker">

                        </div>
                        <div style="display: flex; flex-direction: column;margin-right: 2vh;">
                            <h6 id="date-title" style="text-align: center"></h6>
                            <div id="time-picker">

                            </div>
                            <button id="button-cancelar"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                    style="" onclick="">Cancelar agendamentos
                            </button>
                        </div>
                      </div>
                    </div>
                    <div  class="mdl-cell--3-col" style="display: flex; justify-content: center; padding-right: 5vh";>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                         <input class="mdl-textfield__input" value="" type="text" id="estado-dropdown" readonly tabIndex="-1" />
                           <label class="mdl-textfield__label" for="estado-dropdown">Estado</label>
                           <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="estado-dropdown" style="width: 20vh">
                             <li class="mdl-menu__item" onclick="changeStatus('Disponível')">Disponível</li>
                             <li class="mdl-menu__item" onclick="changeStatus('Em manutenção')">Em manutenção</li>
                             <li class="mdl-menu__item" onclick="changeStatus('Indisponível')">Indisponível</li>
                           </ul>
                       </div>
                    </div>
                    <div class="mdl-cell--12-col">
                    <div id="resource-history-box">
                        <b>Histórico de atividade</b><br><br>
                        <div id="table-history"></div>
                    </div>
                  </div>
                </div>


                <div id="resource-info-container-buttons" >

                    <button id="button-agendar"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            onclick="">Agendar
                    </button>
                    <button id="button-agendar-outro"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            onclick="">Agendar recurso para terceiros
                    </button>
                    <button id="button-excluir"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            onclick="">Excluir recurso
                    </button>
                </div>

                <div id="button-cadastrar-recurso" style="display: none" >
                     <button id="button-agendar" style=""
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            onclick="">Cadastrar recurso
                    </button>
                </div>
                
              </div>



            </div>


        </div>
{% endblock %}

{% block afterscripts %}

<script src="{% static 'javascript/kalendae.standalone.js' %}" type="text/javascript" charset="utf-8"></script>
<script>

    new Kalendae('date-picker', {
        months: 1,
        mode: 'single',
        selected: Kalendae.moment(),
        subscribe: {
            'change': function (date) {
                //getDateSchedules
                console.log(date, this.getSelected());
                document.getElementById('date-title').innerHTML = '<b>'+this.getSelected()+'</b>';
                // fillTableSchedule(this.getSelected());
            }
        }
    });


    document.getElementById('estado-dropdown').value = "{{ res.estado }}";
    function changeStatus(estado){
        document.getElementById('estado-dropdown').value = estado;

    }
    // document.getElementById('resource-availability').onclick = function() {
    //     if (document.getElementById('resource-availability').checked){
    //         document.getElementById('label-switch-agendamento').innerHTML='<b>Agendamento <font color="green">ON</font></b>';
    //     } else {
    //         document.getElementById('label-switch-agendamento').innerHTML='<b>Agendamento <font color="red">OFF</font></b>';
    //     }
    // }
    // if("" === "Disponível"){
    //     document.getElementById('resource-availability').checked=true;
    //     document.getElementById('label-switch-agendamento').innerHTML='<b>Agendamento <font color="green">ON</font></b>';
    // } else {
    //     document.getElementById('resource-availability').checked=false;
    //     document.getElementById('label-switch-agendamento').innerHTML='<b>Agendamento <font color="red">OFF</font></b>';
    // }




    // AJAX
function updateResource() {
    $.ajax({
        url : "updateResource/", // the endpoint
        method : "GET", // http method
        contentType: "application/x-www-form-urlencoded",
        data : { nome : $('#text-resource-name').val(), endereco : $('#text-resource-location').val(), patrimonio : $('#text-resource-id').val(), categoria : $('#text-resource-cat').val(), descricao : $('#text-resource-desc').val() , estado : $('#estado-dropdown').val() },

        // handle a successful response
        success : function(json) {
            console.log("================")
            console.log(json); // log the returned json to the console
            if (json.error != "") {
              $("#resource-id-warn").css("display", "inline");
              return
            }
            // var newPath = window.location.origin + "/app/catalog/" + json.result;
            var newPath = window.location.origin + "/app/catalog/";
            window.location = newPath;
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $("#error-warn").css("display", "inline");
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

</script>
{% endblock %}
